doctype html
html(lang="ru")
   block head
      head
          meta(charset="utf-8")
          title Test - HTMLCoding
          meta(content="width=device-width, initial-scale=1" name="viewport")
          meta(content="ie=edge" http-equiv="x-ua-compatible")
          link(rel="stylesheet" href="css/app.min.css")
          link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css")
          //- link(rel="stylesheet" href="https://fonts.cdnfonts.com/css/sf-compact-display")
          //- link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap")
      body
      
          include svg.pug

          block content
