section.inspector
  .inspector__actiontop
    .inspector__actiontop-item.inspector__actiontop-mail
      +icon('actiontop-mail', 'inspector__actiontop-icon')
    .inspector__actiontop-item.inspector__actiontop-bell
      +icon('actiontop-bell', 'inspector__actiontop-icon')
    .inspector__actiontop-item.inspector__actiontop-chat
      +icon('actiontop-chat', 'inspector__actiontop-icon')
    .inspector__actiontop-item.inspector__actiontop-setting
      +icon('actiontop-setting', 'inspector__actiontop-icon')
  .inspector__namespace
    .inspector__namespace-avatar
      img.inspector__namespace-img(src='images/dest/inspector-namespace-avatar.png')
    span.inspector__namespace-fullname Sophie Fortune
    span.inspector__namespace-username @sophiefortune
  .inspector__memberlist
    .inspector__memberlist-header
      span.inspector__memberlist-title New Members
      a.inspector__memberlist-link(href="#") See all
    .inspector__memberlist-items
      .inspector__memberlist-item
        img.inspector__memberlist-avatar(src='images/dest/inspector-memberlist-1.png')
        span.inspector__memberlist-name Anne Couture
        span.inspector__memberlist-lasttime 3 min ago
      .inspector__memberlist-item
        img.inspector__memberlist-avatar(src='images/dest/inspector-memberlist-2.png')
        span.inspector__memberlist-name Miriam Soleil
        span.inspector__memberlist-lasttime 20 min ago
      .inspector__memberlist-item
        img.inspector__memberlist-avatar(src='images/dest/inspector-memberlist-3.png')
        span.inspector__memberlist-name Marie Laval
        span.inspector__memberlist-lasttime 35 min ago
      .inspector__memberlist-item
        img.inspector__memberlist-avatar(src='images/dest/inspector-memberlist-4.png')
        span.inspector__memberlist-name Mark  Morain
        span.inspector__memberlist-lasttime 40 min ago
  .inspector__follow
    .inspector__follow-title Follow me
    .inspector__follow-items
      .inspector__follow-item
        img.inspector__follow-logo(src='images/dest/inspector-follow-instagram.png')
        a.inspector__follow-link(href="#") @aksondesign
      .inspector__follow-item
        img.inspector__follow-logo(src='images/dest/inspector-follow-twitter.png')
        a.inspector__follow-link(href="#") @aksonvady
