section.mainsection
  .mainsection__searchbar
    input.mainsection__searchbar-input(type="text" placeholder="Explore")
    .mainsection__searchbar-placeholder
      i.fa.fa-search
      span Explore
      
  .mainsection__banner
    span.mainsection__banner-content Find your community on Daccord
  .mainsection__row
  
  
    .mainsection__row-header
      span.mainsection__row-title Featured Community
      a.mainsection__row-link(href="#") See all
      
      
    .mainsection__row-item
    
      .mainsection__item.mainsection__item-big
        .container
          .mainsection__item-content
            //- .mainsection__item-bg
            .mainsection__item-logo
            h4.mainsection__item-title VR
            p.mainsection__item-text Great place to hang out and meet new fans. Always sharong the newest info, 
            .mainsection__item-footer
              .mainsection__item-online 109,789 Online
              .mainsection__item-members 109,789 Members
            
      .mainsection__item.mainsection__item-big
        .container
          .mainsection__item-content
            //- .mainsection__item-bg
            .mainsection__item-logo
            h4.mainsection__item-title Game Play
            p.mainsection__item-text Great place to hang out and meet new fans. Always sharong the newest info,
  
  .mainsection__row
    
    .mainsection__row-header
      span.mainsection__row-title Popular right now
      a.mainsection__row-link(href="#") See all
      
      
    .mainsection__row-item
    
      
      .mainsection__item.mainsection__item-medium
        .mainsection__item-content
          .mainsection__item-bg
          .mainsection__item-logo
          h4.mainsection__item-title 3D Art
          p.mainsection__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo ut ac risus eleifend.
          .mainsection__item-footer
            .mainsection__item-online 1,709,789 Members
      
      
      .mainsection__item.mainsection__item-medium
        .mainsection__item-content
          .mainsection__item-bg
          .mainsection__item-logo
          h4.mainsection__item-title Gem
          p.mainsection__item-text Great place to hang out and meet new fans. Always sharong the newest info,
          .mainsection__item-footer
            .mainsection__item-online 1,239,787 Members
        
  .mainsection__row
  
  
    .mainsection__row-header
      span.mainsection__row-title Recent Add
      a.mainsection__row-link(href="#") See all
      
      
    .mainsection__row-item
      .mainsection__item.mainsection__item-small
        .mainsection__item-content
          span.mainsection__item-title Game
          p.mainsection__item-text Great place to hang out and meet new fans. Always sharong the newest info, 
      .mainsection__item.mainsection__item-small
        .mainsection__item-content
          span.mainsection__item-title Game
          p.mainsection__item-text Great place to hang out and meet new fans. Always sharong the newest info, 
      .mainsection__item.mainsection__item-small
        .mainsection__item-content
          span.mainsection__item-title Game
          p.mainsection__item-text Great place to hang out and meet new fans. Always sharong the newest info, 
